In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_path="/Users/starboy/Documents/Projects/Airbnb/Airbnb_Open_Data.csv"
def load_data(data_path):
    df = pd.read_csv(data_path)
    df.columns= [c.strip().lower().replace(' ','_') for c in df.columns]
    return df

RAW DATA

In [3]:
df_raw= pd.read_csv(data_path)

/var/folders/_w/n63k25_948b11n_ktsfq3_dh0000gn/T/ipykernel_3831/2712545473.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw= pd.read_csv(data_path)

In [4]:
df_raw.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,07/05/19,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

CLEANING HEADERS

In [5]:
df = load_data(data_path)

/var/folders/_w/n63k25_948b11n_ktsfq3_dh0000gn/T/ipykernel_3831/975972781.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path)

In [6]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,07/05/19,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

DATASET INFORMATION

In [8]:
df.describe()

,id,host_id,lat,long,construction_year,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [9]:
print(f"Dataset Shape : {df.shape}")

Dataset Shape : (102599, 26)

**COLUMN CATEGORY**

**1. Listing Information** - id, name,room_type,construction_year, price, service_fee, minimum_nights, availability_365, house_rules, license

**2. Host Information** - host_id, host_identity_verified, host_name, calculated_host_listings_count

**3. Location** - neighbourhood_group, neighbourhood,lat,long,country, country_code

**4. Booking & Policy** - instant_bookable, cancellation_policy

**5. Reviews** - number_of_reviews, last_review, reviews_per_month, review_rate_number

#### **NUMERIC COLUMNS**

price, service_fee, minimum_nights, number_of_reviews, reviews_per_month, review_rate_number, calculated_host_listings_count, availability_365, construction_year

In [10]:
df['price']= df['price'].replace('[\$,]','',regex=True).astype(float)

In [11]:
df['service_fee']=df['service_fee'].replace('[\$,]','',regex=True).astype(float)

In [12]:
print(f"Columns list: {df.columns.to_list()}")

Columns list: ['id', 'name', 'host_id', 'host_identity_verified', 'host_name', 'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country', 'country_code', 'instant_bookable', 'cancellation_policy', 'room_type', 'construction_year', 'price', 'service_fee', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'review_rate_number', 'calculated_host_listings_count', 'availability_365', 'house_rules', 'license']

fixing datatypes

In [13]:
numerical_cols = ['minimum_nights',
                  'construction_year',
                  'number_of_reviews',
                  'reviews_per_month',
                  'review_rate_number',
                  'calculated_host_listings_count',
                  'availability_365',
                  'price',
                  'service_fee'
                  ]

In [14]:
for col in numerical_cols:
    df[col]=pd.to_numeric(df[col],errors='coerce')

In [15]:
df['missing_location']=df[['lat','long']].isnull().any(axis=1)

In [16]:
df['last_review']=pd.to_datetime(df['last_review'],errors='coerce')

fixing null values

In [17]:
df['construction_year']=df['construction_year'].fillna(df['construction_year'].median())

In [18]:
df['price']=df.price.fillna(df['price'].median())

In [19]:
df['service_fee']=df['service_fee'].fillna(df['service_fee'].median())

In [20]:
df['calculated_host_listings_count']= df['calculated_host_listings_count'].fillna(df['calculated_host_listings_count'].median())

In [21]:
df['minimum_nights']= df['minimum_nights'].fillna(df['minimum_nights'].median())

In [22]:
df['review_rate_number']= df['review_rate_number'].fillna(df['review_rate_number'].median())

In [23]:
df['availability_365']= df['availability_365'].fillna(df['availability_365'].median())

In [24]:
df['number_of_reviews']=df['number_of_reviews'].fillna(0)

In [25]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [26]:
df[['lat','long']].isnull().any(axis=1).sum()

np.int64(8)

#### **CATEGORICAL COLUMNS**

In [27]:
df.host_identity_verified.unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [28]:
df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'brookln', 'manhatan', 'Queens', nan,
       'Staten Island', 'Bronx'], dtype=object)

In [29]:
df.neighbourhood.unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', nan, 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook', 'Glen Oaks', 'Gerritsen Beach',
       'Chelsea, Staten Island'], dtype=object)

In [30]:
df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [31]:
df.cancellation_policy.unique()

array(['strict', 'moderate', 'flexible', nan], dtype=object)

In [32]:
df.instant_bookable.unique()

array([False, True, nan], dtype=object)

Convert to titlecase and strip whitespaces

In [33]:
categorical_cols=['host_identity_verified','neighbourhood_group','neighbourhood','room_type','cancellation_policy','instant_bookable']
for col in categorical_cols:
    df[col]=df[col].astype(str).str.strip().str.title()

replace Typos

In [34]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace({
    'Brookln': 'Brooklyn',
    'Manhatan': 'Manhattan'
})

Filling the missing values

In [35]:
df['host_name'] = df['host_name'].fillna("Unknown")

In [36]:
df['license'] = df['license'].fillna('Not Provided')

In [37]:
df['name']=df['name'].fillna('No Title Provided')

In [38]:
df['host_identity_verified'] = df['host_identity_verified'].fillna('Unknown')

In [39]:
#Converting to boolean

df['instant_bookable'] = df['instant_bookable'].map({'True':True, 'False':False})

In [40]:
df['instant_bookable']=df['instant_bookable'].fillna('False')

In [41]:
df['room_type']=df['room_type'].astype(str).str.strip().str.lower()

In [42]:
df['country'] = df['country'].astype(str).str.strip().str.title()
df['country_code']=df['country_code'].astype(str).str.strip().str.upper()

In [43]:
df.loc[df['country'] == 'United States', 'country_code'] = 'US'

In [44]:
df['house_rules']= df['house_rules'].fillna('No rules provided')

In [45]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_identity_verified                0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
lat                                   8
long                                  8
country                               0
country_code                          0
instant_bookable                      0
cancellation_policy                   0
room_type                             0
construction_year                     0
price                                 0
service_fee                           0
minimum_nights                        0
number_of_reviews                     0
last_review                       50228
reviews_per_month                     0
review_rate_number                    0
calculated_host_listings_count        0
availability_365                      0
house_rules                           0
license                               0
missing_location                      0
dtype: int64

In [46]:
print("LAST_REVIEW NULL ANALYSIS")
print(f"Total listings: {len(df)}")
print(f"Listings with review: {df['last_review'].notnull().sum()}")
print(f"Listings without review: {df['last_review'].isnull().sum()}")
print(f"Percentage without reviews: {(df['last_review'].isnull().sum() / len(df)) * 100:.2f}%")

LAST_REVIEW NULL ANALYSIS
Total listings: 102599
Listings with review: 52371
Listings without review: 50228
Percentage without reviews: 48.96%

#### **CREATE A NEW DATASET WITH PROPER REVIEW DATE FOR ANALYSIS**

In [49]:
df_analysis = df[df['last_review'].notnull()].copy()
output_path = "/Users/starboy/Documents/Projects/Airbnb/df_analysis.csv"
df_analysis.to_csv(output_path,index=False)