### **FEATURE ENGINEERING FOR AIRBNB SEASONALITY ANALYSIS**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

LOAD DATA AND SETUP

In [5]:
df = pd.read_csv('cleaned_data_after_outlier_removal.csv')

DATE COMPONENTS

In [6]:
df['last_review'] = pd.to_datetime(df['last_review'],errors='coerce')

In [7]:
if pd.api.types.is_datetime64_any_dtype(df['last_review']):
    print(" last_review is datetime")
    print(f"From: {df['last_review'].min().date()}")
    print(f"To: {df['last_review'].max().date()}")
else:
    print("last_review is NOT datetime")

 last_review is datetime
From: 2012-08-25
To: 2025-06-26

In [8]:
# RANGE OF KEY COLUMNS

key_cols = ['price','minimum_nights','availability_365','reviews_per_month']
for col in key_cols:
    if col in df.columns:
        print(f"- {col}: {df[col].min():.2f} to {df[col].max():.2f}")

- price: 50.00 to 1200.00
- minimum_nights: 1.00 to 365.00
- availability_365: 0.00 to 3677.00
- reviews_per_month: 0.00 to 25.23

In [9]:
print(f"\n📊 SAMPLE DATA:")
df[['name', 'last_review', 'price', 'reviews_per_month', 'neighbourhood_group']].head()

📊 SAMPLE DATA:

,name,last_review,price,reviews_per_month,neighbourhood_group
0,Clean & quiet apt home by the park,2021-10-19,966.0,0.21,Brooklyn
1,Skylit Midtown Castle,2022-05-21,142.0,0.38,Manhattan
2,Entire Apt: Spacious Studio/Loft by central park,2018-11-19,204.0,0.10,Manhattan
3,Large Cozy 1 BR Apartment In Midtown East,2019-06-22,577.0,0.59,Manhattan
4,Large Furnished Room Near B'way,2019-06-24,1018.0,3.47,Manhattan

In [10]:
print(F"ALL COLUMNS ({len(df.columns)}): ")
for i, col in enumerate(df.columns,1):
    print(f" {i:2d}.{col}")

ALL COLUMNS (24):
  1.name
  2.host_identity_verified
  3.host_name
  4.neighbourhood_group
  5.neighbourhood
  6.lat
  7.long
  8.country
  9.country_code
 10.instant_bookable
 11.cancellation_policy
 12.room_type
 13.construction_year
 14.price
 15.service_fee
 16.minimum_nights
 17.number_of_reviews
 18.last_review
 19.reviews_per_month
 20.review_rate_number
 21.calculated_host_listings_count
 22.availability_365
 23.license
 24.missing_location

In [11]:
print(f"\n✨ KEY COLUMNS FOR SEASONALITY ANALYSIS: ")

# define important categories

columns_importance = {
    'Critical': [
        'last_review',              # Time series base
        'reviews_per_month',        # Demand 
        'price'                     # Revenue
    ],
    'High Priority': [
        'number_of_reviews',        # Total Demand
        'availability_365',         # Supply metric
        'minimum_nights',           # Booking patterns
        'neighbourhood_group',      # Location segmentation
        'room_type'                 # Property segmentation
    ],
    'Medium Priority': [
        'service_fee',              # Additional pricing
        'calculated_host_listings_count',   # Host type indicator
        'lat','long'                # Geospatial analysis
    ]
}

for category, cols in columns_importance.items():
    print(f"\n{category}:")
    for col in cols:
        if col in df.columns:
            print(f"{col} found")
        else:
            print(f"{col} not available")

✨ KEY COLUMNS FOR SEASONALITY ANALYSIS:

Critical:
last_review found
reviews_per_month found
price found

High Priority:
number_of_reviews found
availability_365 found
minimum_nights found
neighbourhood_group found
room_type found

Medium Priority:
service_fee found
calculated_host_listings_count found
lat found
long found

In [12]:
# Analysis columns

analysis_columns =[]
for category, cols in columns_importance.items():
    analysis_columns.extend([col for col in cols if col in df.columns])
print(f"\nTotal columns for analysis: {len(analysis_columns)}")
print(f"    {analysis_columns}")

Total columns for analysis: 12
    ['last_review', 'reviews_per_month', 'price', 'number_of_reviews', 'availability_365', 'minimum_nights', 'neighbourhood_group', 'room_type', 'service_fee', 'calculated_host_listings_count', 'lat', 'long']

##### **TIME-BASED FEATURES**

In [13]:
print("=" * 30)
print("EXTRACTING DATE FEATURES")
print("=" * 30)

# Extracting date components from last_review
df['year'] = df['last_review'].dt.year
df['month'] = df['last_review'].dt.month
df['day'] = df['last_review'].dt.day
df['day_of_week'] = df['last_review'].dt.day_of_week
df['day_name'] = df['last_review'].dt.day_name()
df['quarter'] = df['last_review'].dt.quarter
df['week_of_year'] = df['last_review'].dt.isocalendar().week

# Sample data
df[['last_review','year','month','quarter','day_name']].head(10)

==============================
EXTRACTING DATE FEATURES
==============================

  last_review  year  month  quarter   day_name
0  2021-10-19  2021     10        4    Tuesday
1  2022-05-21  2022      5        2   Saturday
2  2018-11-19  2018     11        4     Monday
3  2019-06-22  2019      6        2   Saturday
4  2019-06-24  2019      6        2     Monday
5  2017-07-21  2017      7        3     Friday
6  2019-06-22  2019      6        2   Saturday
7  2019-06-23  2019      6        2     Sunday
8  2019-06-24  2019      6        2     Monday
9  2018-10-31  2018     10        4  Wednesday

##### **SEASONALITY INDICATORS**

In [14]:
print("=" * 30)
print("CREATING SEASON CATEGORIES")
print("=" * 30)

def assign_season(month):
    if month in [12,1,2]:
        return 'Winter'
    elif month in [3,4,5]:
        return 'Summer'
    elif month in [6,7,8]:
        return 'Summer'
    else :  # month in 9.10,11
        return 'Fall'

df['season'] = df['month'].apply(assign_season)

print("season categories created: ")
print(df['season'].value_counts().sort_index())
print('\n')
print("SAMPLE WITH SEASONS: ")
df[['last_review','month','season','reviews_per_month']].head(10)

==============================
CREATING SEASON CATEGORIES
==============================
season categories created:
season
Fall       6062
Summer    32465
Winter    11777
Name: count, dtype: int64


SAMPLE WITH SEASONS:

  last_review  month  season  reviews_per_month
0  2021-10-19     10    Fall               0.21
1  2022-05-21      5  Summer               0.38
2  2018-11-19     11    Fall               0.10
3  2019-06-22      6  Summer               0.59
4  2019-06-24      6  Summer               3.47
5  2017-07-21      7  Summer               0.99
6  2019-06-22      6  Summer               0.43
7  2019-06-23      6  Summer               1.50
8  2019-06-24      6  Summer               1.34
9  2018-10-31     10    Fall               0.22

In [15]:
def is_peak_season(month):
    peak_months =[6,7,8,12]
    return 1 if month in peak_months else 0

df['is_peak_season'] = df['month'].apply(is_peak_season)

df[['month','season','is_peak_season']].head(10)

   month  season  is_peak_season
0     10    Fall               0
1      5  Summer               0
2     11    Fall               0
3      6  Summer               1
4      6  Summer               1
5      7  Summer               1
6      6  Summer               1
7      6  Summer               1
8      6  Summer               1
9     10    Fall               0

CREATING WEEKEND / WEEKDAY FLAG

In [16]:
print("="*30)
print("CREATING WEEKEND/WEEKDAY FLAGS")
print("="*30)

df['is_weekend'] = df['day_of_week'].isin([5, 6]).astype(int)
print("weekend flag created")
print(f"Weekday Reviews: {(df['is_weekend']==0).sum():,}")
print(f"Weekend Reviews: {(df['is_weekend']==1).sum():,}")

==============================
CREATING WEEKEND/WEEKDAY FLAGS
==============================
weekend flag created
Weekday Reviews: 29,492
Weekend Reviews: 20,812

In [17]:
print("\nDISTRIBUTION")
weekend_distribution = df.groupby('is_weekend')['reviews_per_month'].mean()
print(f"-> Average reviews/month on weekdays: {weekend_distribution[0]:.2f}")
print(f"-> Average reviews/month on weekends: {weekend_distribution[1]:.2f}")

DISTRIBUTION
-> Average reviews/month on weekdays: 1.32
-> Average reviews/month on weekends: 1.48

In [18]:
print("="*30)
print("SEASONALITY SUMMARY")
print("="*30)

new_features=['year','month','day','quarter','day_of_week','day_name',
              'week_of_year','season','is_weekend','is_peak_season']

print(f"\nNEW FEATURES CREATED: {len(new_features)}")
for i, feature in enumerate(new_features,1):
    print(f"{i}. {feature}")

print(f"\n UPDATED DATASET: ")
print(f" -> Total columns: {len(df.columns)}")
print(f" -> New Date Features: {len(new_features)}")

# All columns with new features
print("\n SAMPLE WITH NEW FEATURES: ")
display_cols = ['last_review', 'year', 'month', 'quarter', 'season', 
                'day_name', 'is_weekend', 'price', 'reviews_per_month','is_peak_season']
df[display_cols].head()

==============================
SEASONALITY SUMMARY
==============================

NEW FEATURES CREATED: 10
1. year
2. month
3. day
4. quarter
5. day_of_week
6. day_name
7. week_of_year
8. season
9. is_weekend
10. is_peak_season

 UPDATED DATASET:
 -> Total columns: 34
 -> New Date Features: 10

 SAMPLE WITH NEW FEATURES:

,last_review,year,month,quarter,season,day_name,is_weekend,price,reviews_per_month,is_peak_season
0,2021-10-19,2021,10,4,Fall,Tuesday,0,966.0,0.21,0
1,2022-05-21,2022,5,2,Summer,Saturday,1,142.0,0.38,0
2,2018-11-19,2018,11,4,Fall,Monday,0,204.0,0.10,0
3,2019-06-22,2019,6,2,Summer,Saturday,1,577.0,0.59,1
4,2019-06-24,2019,6,2,Summer,Monday,0,1018.0,3.47,1

##### **DEMAND INDICATORS**

In [19]:
print("="*30)
print("DEMAND INDICATORS")
print("="*30)

print("\nREVIEWS PER MONTH DISTRIBUTION:")
df['reviews_per_month'].describe()

==============================
DEMAND INDICATORS
==============================

REVIEWS PER MONTH DISTRIBUTION:

count    50304.000000
mean         1.382406
std          1.555272
min          0.000000
25%          0.230000
50%          0.780000
75%          2.090000
max         25.230000
Name: reviews_per_month, dtype: float64

In [20]:
# Creating categories based on quartiles

df['review_frequency_category'] = pd.qcut(
    df['reviews_per_month'],
    q=4,
    labels =['Low','Medium','High','Very High'],
    duplicates='drop'
)

print("\nReview Frequency categories created: ")
df['review_frequency_category'].value_counts().sort_index()

Review Frequency categories created:

review_frequency_category
Low          12633
Medium       12594
High         12538
Very High    12539
Name: count, dtype: int64

In [21]:
# Average price for frequencies

print("\nAverage price by review frequency: ")
print(df.groupby('review_frequency_category')['price'].mean().round(2))

Average price by review frequency:
review_frequency_category
Low          627.02
Medium       628.33
High         621.66
Very High    626.82
Name: price, dtype: float64

In [22]:
print("="*30)
print("AVAILABILITY ANALYSIS")
print("="*30)

print("\nAVAILABILITY_365 DISTRIBUTION:")
df['availability_365'].describe()

print("\nREVIEWS_PER_MONTH PERCENTILES:")
percentiles = [0, 25, 50, 75, 90, 95, 99, 100]
for p in percentiles:
    value = df['reviews_per_month'].quantile(p/100)
    print(f"   {p}th percentile: {value:.2f}")

==============================
AVAILABILITY ANALYSIS
==============================

AVAILABILITY_365 DISTRIBUTION:

REVIEWS_PER_MONTH PERCENTILES:
   0th percentile: 0.00
   25th percentile: 0.23
   50th percentile: 0.78
   75th percentile: 2.09
   90th percentile: 3.53
   95th percentile: 4.47
   99th percentile: 6.62
   100th percentile: 25.23

In [23]:
df['demand_score'] = pd.qcut(
    df['reviews_per_month'],
    q=5,
    labels=[20, 40, 60, 80, 100],
    duplicates='drop'
).astype(float)

print("\nDemand Score Recalculated (Percentile-based):")
print(f"   • Mean: {df['demand_score'].mean():.2f}")
print(f"   • Median: {df['demand_score'].median():.2f}")
print(f"   • Distribution:")
print(df['demand_score'].value_counts().sort_index())

# Recreate demand level categories
df['demand_level'] = pd.cut(
    df['demand_score'],
    bins=[0, 25, 50, 75, 100],
    labels=['Low', 'Medium', 'High', 'Very High'],
    include_lowest=True
)

Demand Score Recalculated (Percentile-based):
   • Mean: 59.88
   • Median: 60.00
   • Distribution:
demand_score
20.0     10111
40.0     10114
60.0     10014
80.0     10102
100.0     9963
Name: count, dtype: int64

In [24]:
print("\nNEW DEMAND LEVEL DISTRIBUTION:")
print(df['demand_level'].value_counts().sort_index())

print("\nSAMPLE - CORRECTED DEMAND INDICATORS:")
print(df[['reviews_per_month', 'demand_score', 'demand_level']].head(15))

print("\nINTERPRETATION:")
print("   • Low: 0 reviews/month to 25th percentile")
print("   • Medium: 25th to 50th percentile")
print("   • High: 50th to 75th percentile")
print("   • Very High: 75th percentile and above")

NEW DEMAND LEVEL DISTRIBUTION:
demand_level
Low          10111
Medium       10114
High         10014
Very High    20065
Name: count, dtype: int64

SAMPLE - CORRECTED DEMAND INDICATORS:
    reviews_per_month  demand_score demand_level
0                0.21          40.0       Medium
1                0.38          40.0       Medium
2                0.10          20.0          Low
3                0.59          60.0         High
4                3.47         100.0    Very High
5                0.99          60.0         High
6                0.43          40.0       Medium
7                1.50          80.0    Very High
8                1.34          80.0    Very High
9                0.22          40.0       Medium
10               1.20          80.0    Very High
11               1.72          80.0    Very High
12               4.44         100.0    Very High
13               0.07          20.0          Low
14               0.73          60.0         High

INTERPRETATION:
   • Low: 0 reviews/month to 25th percentile
   • Medium: 25th to 50th percentile
   • High: 50th to 75th percentile
   • Very High: 75th percentile and above

##### **PRICE CATEGORIES**

In [25]:
print("="*30)
print("PRICE CATEGORIES")
print("="*30)

print("\nPRICE DISTRIBUTION: ")
df['price'].describe()

==============================
PRICE CATEGORIES
==============================

PRICE DISTRIBUTION:

count    50304.000000
mean       625.962707
std        331.710646
min         50.000000
25%        339.000000
50%        626.000000
75%        913.000000
max       1200.000000
Name: price, dtype: float64

In [26]:
# PRICE OUTLIERS
print("\nPRICE PERCENTILES: ")
percentiles=[10,25,50,75,90,95,99]
for p in percentiles:
    value = df['price'].quantile(p/100)
    print(f" {p}th percentile: ${value:.2f}")

PRICE PERCENTILES:
 10th percentile: $164.00
 25th percentile: $339.00
 50th percentile: $626.00
 75th percentile: $913.00
 90th percentile: $1084.00
 95th percentile: $1143.00
 99th percentile: $1189.00

In [27]:
print("\nCREATING PRICE CATEGORIES")
print("-"*30)

df['price_tier']=pd.qcut(
    df['price'],
    q=4,
    labels=['Budget','Mid-Range','Upscale','Luxury'],
    duplicates='drop'
)

print("\nPrice Tiers Created: ")
print(df['price_tier'].value_counts().sort_index())

CREATING PRICE CATEGORIES
------------------------------

Price Tiers Created:
price_tier
Budget       12580
Mid-Range    12607
Upscale      12563
Luxury       12554
Name: count, dtype: int64

In [28]:
print("\nPRICE RANGES BY TIER: ")
price_by_tier=df.groupby('price_tier')['price'].agg(['min','max','mean','count'])
print(price_by_tier)

print("\nAVERAGE REVIEWS BY PRICE TIER: ")
reviews_by_price=df.groupby('price_tier')['reviews_per_month'].mean()
print(reviews_by_price.round(2))

PRICE RANGES BY TIER:
              min     max         mean  count
price_tier
Budget       50.0   339.0   194.134897  12580
Mid-Range   340.0   626.0   484.714286  12607
Upscale     627.0   913.0   769.476001  12563
Luxury      914.0  1200.0  1056.913414  12554

AVERAGE REVIEWS BY PRICE TIER:
price_tier
Budget       1.37
Mid-Range    1.40
Upscale      1.36
Luxury       1.40
Name: reviews_per_month, dtype: float64

In [29]:
print("\nVALUE SCORE: Price vs Demand")
print("-"*30)

# value score = how many reviews per dollar spent
df['value_score'] = (df['reviews_per_month']/df['price']*100).round(2)

print("\n Value Score Created (Reviews per $100)")
print(f" -> Mean: {df['value_score'].mean():.2f}")
print(f" -> Median: {df['value_score'].median():.2f}")
print(f" -> Min: {df['value_score'].min():.2f}")
print(f" -> Max: {df['value_score'].max():.2f}")

VALUE SCORE: Price vs Demand
------------------------------

 Value Score Created (Reviews per $100)
 -> Mean: 0.38
 -> Median: 0.15
 -> Min: 0.00
 -> Max: 18.41

In [30]:
# CREATE VALUE CATEGORIES
df['value_category'] = pd.qcut(
    df['value_score'],
    q=3,
    labels= ['Low Value','Good Value','Excellent Value'],
    duplicates= 'drop'
)

print("\nVALUE CATEGORIES DISTRIBUTION: ")
print(df['value_category'].value_counts().sort_index())

VALUE CATEGORIES DISTRIBUTION:
value_category
Low Value          17920
Good Value         15930
Excellent Value    16454
Name: count, dtype: int64

In [31]:
print("\nINTERPRETATION: ")
df[['price','reviews_per_month','price_tier','value_score','value_category']].head(10)

INTERPRETATION:

    price  reviews_per_month price_tier  value_score   value_category
0   966.0               0.21     Luxury         0.02        Low Value
1   142.0               0.38     Budget         0.27       Good Value
2   204.0               0.10     Budget         0.05        Low Value
3   577.0               0.59  Mid-Range         0.10       Good Value
4  1018.0               3.47     Luxury         0.34  Excellent Value
5   291.0               0.99     Budget         0.34  Excellent Value
6   606.0               0.43  Mid-Range         0.07        Low Value
7   714.0               1.50    Upscale         0.21       Good Value
8   580.0               1.34  Mid-Range         0.23       Good Value
9   578.0               0.22  Mid-Range         0.04        Low Value

##### **BOOKING PATTERNS**

In [32]:
print("\nBOOKING PATTERNS")
print("-"*20)

print("\nMINIMUM NIGHTS DISTRIBUTIONS: ")
print(df['minimum_nights'].describe())

print("\nMINIMUM NIGHTS PERCENTILES: ")
percentiles=[10,25,50,75,90,95]
for p in percentiles:
    value=df['minimum_nights'].quantile(p/100)
    print(f" {p}th percentile: {value:.0f} nights")

BOOKING PATTERNS
--------------------

MINIMUM NIGHTS DISTRIBUTIONS:
count    50304.000000
mean         7.243857
std         15.525397
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        365.000000
Name: minimum_nights, dtype: float64

MINIMUM NIGHTS PERCENTILES:
 10th percentile: 1 nights
 25th percentile: 2 nights
 50th percentile: 3 nights
 75th percentile: 5 nights
 90th percentile: 30 nights
 95th percentile: 30 nights

In [33]:
print("CREATING STAY LENGTH CATEGORIES")
print("-"*30)

def categorize_stay(nights):
    if nights <= 1:
        return 'Nightly'
    elif nights <= 7:
        return 'Weekly'
    elif nights <=30:
        return 'Monthly'
    else:
        return 'Long-term'
    
df['stay_length_category'] = df['minimum_nights'].apply(categorize_stay)
print("Stay length categories created: ")
print(df['stay_length_category'].value_counts())

CREATING STAY LENGTH CATEGORIES
------------------------------
Stay length categories created:
stay_length_category
Weekly       29503
Nightly      12459
Monthly       7664
Long-term      678
Name: count, dtype: int64

In [34]:
print("\nREVIEWS BY STAY TYPE: ")
stay_reviews= df.groupby('stay_length_category')['reviews_per_month'].agg(['mean','median','count'])
print(stay_reviews.round(2))

REVIEWS BY STAY TYPE:
                      mean  median  count
stay_length_category
Long-term             0.56    0.27    678
Monthly               0.53    0.29   7664
Nightly               2.07    1.41  12459
Weekly                1.33    0.89  29503

In [35]:
print("\nINTERPRETATION:")
print("   • Nightly: Most flexible - attracts tourists/travelers")
print("   • Weekly: Standard short-term rentals")
print("   • Monthly: Targets longer stays - less turnover")
print("   • Long-term: Corporate/relocation - stable income")

INTERPRETATION:
   • Nightly: Most flexible - attracts tourists/travelers
   • Weekly: Standard short-term rentals
   • Monthly: Targets longer stays - less turnover
   • Long-term: Corporate/relocation - stable income

In [36]:
print("BOOKING FLEXIBILITY ANALYSIS")
print("-" * 30)

# create flexibility score: shorter minimum nights = more flexible=10, longer=1
df['flexibility_score'] = pd.cut(
    df['minimum_nights'],
    bins=[-1, 1, 7, 30, 365],
    labels=[10, 7, 4, 1],
    include_lowest=True
).astype(float)

print("\nFLEXIBILITY SCORE CREATED (1-10 SCALE): ")
print(f" -> 10 = Very Flexible (nightly)")
print(f" -> 7 = Flexible (weekly)")
print(f" -> 4 = Moderate (monthly)")
print(f" -> 1 = Rigid (30+ days)")

BOOKING FLEXIBILITY ANALYSIS
------------------------------

FLEXIBILITY SCORE CREATED (1-10 SCALE):
 -> 10 = Very Flexible (nightly)
 -> 7 = Flexible (weekly)
 -> 4 = Moderate (monthly)
 -> 1 = Rigid (30+ days)

In [37]:
print("\nDISTRIBUTION: ")
print(df['flexibility_score'].value_counts().sort_index(ascending=False))

print("\nDEMAND BY FLEXIBILITY: ")
flex_demand=df.groupby('flexibility_score')['reviews_per_month'].mean()
print(flex_demand.round(3))

print("\nKEY FINDING: ")
if flex_demand.iloc[0] > flex_demand.iloc[-1]:
    print(f" -> More flexible listings get MORE bookings ({flex_demand.iloc[0]:.2f} vs {flex_demand.iloc[-1]:.2f} reviews/month)")
else:
    print(f" -> Minimum stay length has similar impact on all listings")

DISTRIBUTION:
flexibility_score
10.0    12459
7.0     29503
4.0      7664
1.0       678
Name: count, dtype: int64

DEMAND BY FLEXIBILITY:
flexibility_score
1.0     0.558
4.0     0.530
7.0     1.332
10.0    2.072
Name: reviews_per_month, dtype: float64

KEY FINDING:
 -> Minimum stay length has similar impact on all listings

In [38]:
print("SEASONALITY BY BOOKING TYPE")
print("-"*30)

seasonality_by_type = df.groupby(['season','stay_length_category'])['reviews_per_month'].agg(['mean','count']).round(2)
print("DEMAND BY SEASON AND STAY TYPE: ")
print(seasonality_by_type)

print("\nSAMPLE - BOOKING PATTERNS: ")
df[['minimum_nights', 'stay_length_category', 'flexibility_score', 
         'season', 'reviews_per_month', 'demand_level']].head(10)

SEASONALITY BY BOOKING TYPE
------------------------------
DEMAND BY SEASON AND STAY TYPE:
                             mean  count
season stay_length_category
Fall   Long-term             0.33    115
       Monthly               0.41   1466
       Nightly               0.54   1195
       Weekly                0.37   3286
Summer Long-term             0.65    409
       Monthly               0.56   4059
       Nightly               2.21   8082
       Weekly                1.46  19915
Winter Long-term             0.49    154
       Monthly               0.55   2139
       Nightly               2.29   3182
       Weekly                1.42   6302

SAMPLE - BOOKING PATTERNS:

,minimum_nights,stay_length_category,flexibility_score,season,reviews_per_month,demand_level
0,10.0,Monthly,4.0,Fall,0.21,Medium
1,30.0,Monthly,4.0,Summer,0.38,Medium
2,10.0,Monthly,4.0,Fall,0.10,Low
3,3.0,Weekly,7.0,Summer,0.59,High
4,2.0,Weekly,7.0,Summer,3.47,Very High
5,2.0,Weekly,7.0,Summer,0.99,High
6,5.0,Weekly,7.0,Summer,0.43,Medium
7,2.0,Weekly,7.0,Summer,1.50,Very High
8,4.0,Weekly,7.0,Summer,1.34,Very High
9,90.0,Long-term,1.0,Fall,0.22,Medium

##### **VALIDATION & SUMMARY**

In [39]:
print("VALIDATION & SUMMARY")
print("-"*30)

print("\nFeatures created: ")
features_by_category = {
    'Time-Based Features': ['year', 'month', 'quarter', 'day_of_week', 'day_name', 
                            'week_of_year', 'is_weekend', 'is_peak_season'],
    'Seasonality Features': ['season'],
    'Demand Indicators': ['review_frequency_category', 'availability_category', 
                          'demand_score', 'demand_level'],
    'Price Features': ['price_tier', 'value_score', 'value_category'],
    'Booking Patterns': ['stay_length_category', 'flexibility_score']
}

total_features=0
for category,features in features_by_category.items():
    existing_features =[ f for f in features if f in df.columns]
    total_features += len(existing_features)
    print(f"\n{category}: {len(existing_features)}")
    for feature in existing_features:
        print(f" -> {feature}")

print(f"\nTOTAL NEW FEATURES CREATED: {total_features}")
print(f" -> Original columns: 27")
print(f" -> New Columns: {len(df.columns) - 27}")
print(f" -> Total Columns: {len(df.columns)}")

VALIDATION & SUMMARY
------------------------------

Features created:

Time-Based Features: 8
 -> year
 -> month
 -> quarter
 -> day_of_week
 -> day_name
 -> week_of_year
 -> is_weekend
 -> is_peak_season

Seasonality Features: 1
 -> season

Demand Indicators: 3
 -> review_frequency_category
 -> demand_score
 -> demand_level

Price Features: 3
 -> price_tier
 -> value_score
 -> value_category

Booking Patterns: 2
 -> stay_length_category
 -> flexibility_score

TOTAL NEW FEATURES CREATED: 17
 -> Original columns: 27
 -> New Columns: 15
 -> Total Columns: 42

DATA QUALITY CHECK

In [40]:
print(f"Rows: {len(df):,}")
print(f"Columns: {len(df.columns)}")

print("\nMISSING VALUES CHECK: ")
missing_cols = df.isnull().sum()
missing_cols = missing_cols[missing_cols > 0]

if len(missing_cols) ==0:
    print("NO MISSING VALUES FOUND")
else:
    print("Found missing values: ")
    for col , count in missing_cols.items():
        print(f" -> {col}: {count}")

print("\nDUPLICATED CHECK: ")
dupes=df.duplicated().sum()
if dupes==0:
    print("no duplicate rows found")
else:
    print(f" -> {dupes} duplicate rows")


print("\nDATA TYPE CHECK: ")
dtype_summary=df.dtypes.value_counts()
for dtype, count in dtype_summary.items():
    print(f" -> {dtype}: {count} columns")

Rows: 50,304
Columns: 42

MISSING VALUES CHECK:
Found missing values:
 -> lat: 4
 -> long: 4

DUPLICATED CHECK:
no duplicate rows found

DATA TYPE CHECK:
 -> float64: 14 columns
 -> object: 13 columns
 -> int32: 5 columns
 -> bool: 2 columns
 -> int64: 2 columns
 -> category: 2 columns
 -> datetime64[ns]: 1 columns
 -> UInt32: 1 columns
 -> category: 1 columns
 -> category: 1 columns

FEATURES DISTRIBUTION SUMMARY

In [41]:
print("\nTIME FEATURES: ")
print(f" -> Years covered: {df['year'].nunique()} ({df['year'].min()} - {df['year'].max()})")
print(f" -> Months: {df['month'].unique()}")
print(f" -> Seasons: {df['season'].unique()}")
print(f" -> Day distribution:\n{df['day_name'].value_counts().sort_index()}")

TIME FEATURES:
 -> Years covered: 13 (2012 - 2025)
 -> Months: [10  5 11  6  7 12  8  4  9  3  1  2]
 -> Seasons: ['Fall' 'Summer' 'Winter']
 -> Day distribution:
day_name
Friday        5969
Monday        8850
Saturday      7144
Sunday       13668
Thursday      4805
Tuesday       5225
Wednesday     4643
Name: count, dtype: int64

In [42]:
print("\nDEMAND LEVELS: ")
print(df['demand_level'].value_counts().sort_index())

DEMAND LEVELS:
demand_level
Low          10111
Medium       10114
High         10014
Very High    20065
Name: count, dtype: int64

In [43]:
print("\nPRICE TIERS: ")
print(df['price_tier'].value_counts().sort_index())

PRICE TIERS:
price_tier
Budget       12580
Mid-Range    12607
Upscale      12563
Luxury       12554
Name: count, dtype: int64

In [44]:
print("\nBOOKING TYPES: ")
print(df['stay_length_category'].value_counts())

BOOKING TYPES:
stay_length_category
Weekly       29503
Nightly      12459
Monthly       7664
Long-term      678
Name: count, dtype: int64

In [45]:
print("\nVALUE CATEGORIES:")
print(df['value_category'].value_counts().sort_index())

VALUE CATEGORIES:
value_category
Low Value          17920
Good Value         15930
Excellent Value    16454
Name: count, dtype: int64

CORRELATION ANALYSIS PREVIEW

In [46]:
# SELECT NUMERIC COLUMNS FOR CORRELATION
numeric_cols_for_corr = ['price', 'minimum_nights', 'availability_365', 
                         'reviews_per_month', 'demand_score', 'flexibility_score', 
                         'value_score']

# CREATE CORRELATION MATRIX
corr_with_demand = df[numeric_cols_for_corr].corr()['reviews_per_month'].sort_values(ascending=False)

print("\nCORRELATION WITH REVIEWS_PER_MONTH (Demand Proxy): ")
for feature, corr in corr_with_demand.items():
    if feature != 'reviews_per_month':
        strength = 'Strong' if abs(corr) > 0.3 else 'Moderate' if abs(corr) > 0.1 else 'Weak'
        direction = '⬆️' if corr>0 else '⬇️'
        print(f" {direction} {feature}: {corr:.3f} ({strength})")

CORRELATION WITH REVIEWS_PER_MONTH (Demand Proxy):
 ⬆️ demand_score: 0.833 (Strong)
 ⬆️ value_score: 0.562 (Strong)
 ⬆️ flexibility_score: 0.310 (Strong)
 ⬆️ availability_365: 0.078 (Weak)
 ⬆️ price: 0.004 (Weak)
 ⬇️ minimum_nights: -0.188 (Moderate)

1. demand_score - (strong)  
2. value_score - (strong) high demand
3. flexibility_score - (strong) flexible stays = more bookings
4. availability_365 - (moderate) more available = slightly more reviews
5. price - (none) price doesnt matter
6.  minimum_nights - (moderated negetive) Longer stays = fewer bookings

In [47]:
print("\nINTERPRETATION:")
print("   ↑ = Positive correlation (increases demand)")
print("   ↓ = Negative correlation (decreases demand)")
print("   • Strong (>0.3): Major influence")
print("   • Moderate (0.1-0.3): Some influence")
print("   • Weak (<0.1): Little influence")

INTERPRETATION:
   ↑ = Positive correlation (increases demand)
   ↓ = Negative correlation (decreases demand)
   • Strong (>0.3): Major influence
   • Moderate (0.1-0.3): Some influence
   • Weak (<0.1): Little influence

##### **SUMMARY**

In [48]:
print("\n" + "=" * 80)
print("EATURE ENGINEERING COMPLETE!")
print("=" * 80)

print(f"""
SUMMARY OF ENGINEERED FEATURES:

-> Time-Based Features (8):
   - Extracted from last_review: year, month, quarter, day_of_week
   - Day names and week numbers
   - Peak season flags

-> Seasonality Indicators (1):
   - Season categories (Winter/Spring/Summer/Fall)

-> Demand Indicators (4):
   - Review frequency categories (Low/Medium/High/Very High)
   - Availability categories 
   - Demand score (0-100)
   - Demand level

-> Price Features (3):
   - Price tiers (Budget/Mid-Range/Upscale/Luxury)
   - Value score (reviews per $100)
   - Value categories

-> Booking Pattern Features (2):
   - Stay length categories (Nightly/Weekly/Monthly/Long-term)
   - Flexibility score (1-10)

-> DATASET READY FOR:
   ✓ Exploratory Data Analysis (EDA)
   ✓ Seasonality visualization
   ✓ Time series decomposition
   ✓ Demand pattern analysis
   ✓ Predictive modeling (if needed)
""")

print("=" * 80)

================================================================================
EATURE ENGINEERING COMPLETE!
================================================================================

SUMMARY OF ENGINEERED FEATURES:

-> Time-Based Features (8):
   - Extracted from last_review: year, month, quarter, day_of_week
   - Day names and week numbers
   - Peak season flags

-> Seasonality Indicators (1):
   - Season categories (Winter/Spring/Summer/Fall)

-> Demand Indicators (4):
   - Review frequency categories (Low/Medium/High/Very High)
   - Availability categories
   - Demand score (0-100)
   - Demand level

-> Price Features (3):
   - Price tiers (Budget/Mid-Range/Upscale/Luxury)
   - Value score (reviews per $100)
   - Value categories

-> Booking Pattern Features (2):
   - Stay length categories (Nightly/Weekly/Monthly/Long-term)
   - Flexibility score (1-10)

-> DATASET READY FOR:
   ✓ Exploratory Data Analysis (EDA)
   ✓ Seasonality visualization
   ✓ Time series decomposition
   ✓ Demand pattern analysis
   ✓ Predictive modeling (if needed)

================================================================================

SAVE THE DATASET

In [49]:
output_path = '/Users/starboy/Documents/Projects/Airbnb/engineered_data_for_eda.csv'
df.to_csv(output_path,index=False)